In [ ]:
#To check for any missing values in a dataset
dataset.isnull().values.any()

In [1]:
#To check for number of missing values in a dataset
dataset.isnull().sum() #This will give you NA values in each column of the dataset

NameError: name 'dataset' is not defined

In [ ]:
#If we want to sum the items from a variable in a dataset,we use group by
dataset.groupby(['Variable']).sum()

In [ ]:
#If we want to list the items of the variable with which we have grouped the dataset in the new data set
dataset.groupby(['Variable'],as_index=False)

In [ ]:
#To dig out documentation of the function
help(function) or help(sns.countplot)

In [ ]:
#to avoid over lapping of the label in a seaborn graph
chart.set_xticklabels(chart.get_xticklabels(), rotation=45)

In [ ]:
#To categorize a numerical variable to categorical
bins=[0,10,20]
label=['Under 10','10 to 20']
data['New Categorical Variable']=pd.cut(data['Numerical Variable',bins=bins,label=label])